COMPOSE_PROJECT_NAME=simutu_lpmpp
UID=1000
GID=1000

POSTGRES_DB=lpmpp_survey
POSTGRES_USER=lpmpp_app
POSTGRES_PASSWORD=GANTI_PASSWORD_LOKAL
POSTGRES_HOST_PORT=5433

APP_MEMORY_LIMIT=2g
NGINX_MEMORY_LIMIT=256m
FRONTEND_MEMORY_LIMIT=2g
POSTGRES_MEMORY_LIMIT=4g
REDIS_MEMORY_LIMIT=1g
WORKER_MEMORY_LIMIT=2g
SCHEDULER_MEMORY_LIMIT=512m
MAILPIT_MEMORY_LIMIT=512m
